                .container,
                .footer {
                    min-width: 440px;
                    max-width: 1200px;
                    margin: 0%;
                    flex-direction: column;
                    border: 2px solid #e7e9ed !important;
                    background-color: #bdbab3;
                }
                
                .mb-4 {
                    display: flex;
                    width: 100%;
                    padding: 20px;
                    justify-content: center;
                }
                
                .m-1 {
                    padding: 9px;
                    margin: 5px;
                    border-radius: 80%;
                }
                
                .m-1-clock {
                    padding: 9px;
                    margin: 5px;
                    border-radius: 80%;
                    font-size: 28px;
                    color: red;
                }
                
                .p-3 {
                    text-align: center;
                    padding: 0rem!important;
                }
                
                .footer {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    flex-direction: row;
                }
                
                .footer_propos {
                    display: flex;
                    width: 32%;
                }
                
                .footer_hebergement {
                    display: flex;
                    width: 32%;
                }
                
                .footer_assistance {
                    display: flex;
                    width: 32%;
                }