.formation {
    width: auto;
    display: flex;
    padding: 1rem 1rem;
    border-radius: 2rem;
    flex-direction: column;
    border: solid 5px rgb(231, 233, 237);
    margin-bottom: 20px;
    &__div {
        width: auto;
        height: auto;
        font-size: 1.2rem;
        align-items: center;
        padding: 1rem 1rem;
        margin: 1rem 1rem;
        border-radius: 2rem;
        background-color: rgb(220, 221, 225);
        border: solid 3px rgb(84, 86, 88);
        &:hover {
            color: white;
            background-color: brown;
        }
    }
}