.cardPageFormation {
    width: auto;
    height: auto;
    &__img {
        width: 100%;
        border: 3px solid black;
    }
}

.proj {
    width: 100%;
    height: auto;
    padding: 2rem 1rem 2em 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    &__card {
        margin: auto;
        width: auto;
        height: auto;
        padding: 10px;
        border: solid rgba(255, 255, 255, 0.724) 20px;
        border-radius: 40px;
        background-color: rgb(233, 231, 231);
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 2rem;
        &__firstTitle {
            width: 200px;
            height: auto;
            background-color: rgb(233, 229, 229);
            border-radius: 15px;
            border: 3px solid white;
            font-size: 1.3rem;
            font-weight: bolder;
            align-content: center;
            margin: auto;
            padding: 6px;
            &:hover {
                background-color: #b64e4e;
                transform: scale(1.15);
            }
        }
        &__show {
            height: auto;
            &__frame {
                width: 100%;
                padding: 0.5rem;
                display: flex;
                flex-wrap: wrap;
                background-color: white;
                color: blue;
                margin: 10px 0px 0px 0px;
            }
            &__cercle {
                margin: 3px 0px 0px 0px;
                border: solid 3px rgb(233, 229, 229);
                background: rgb(139, 132, 132);
                width: 30px;
                height: 20px;
                color: white;
                display: table;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                display: table-cell;
                vertical-align: middle;
                font-size: 1rem;
                z-index: 1;
            }
            &__title {
                margin: 0px 10px 0px -6px;
                padding: 3px 6px 3px 6px;
                width: auto;
                height: 30px;
                display: flex;
                flex-wrap: wrap;
                font-size: 1.2rem;
                font-weight: bolder;
                align-items: center;
                border-radius: 10%;
                border: solid 3px rgb(233, 229, 229);
                position: inherit;
            }
            &__content p {
                // margin: 0px 10px 0px 0px;
                // padding: 3px 6px 3px 6px;
                width: auto;
                height: auto;
                text-align: left;
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-size: 14px;
                background-color: white;
                position: abs($number: 0);
                color: black;
            }
        }
    }
}

table {
    border-collapse: collapse;
    /* Les bordures du tableau seront collées (plus joli) */
}

td {
    margin: 0px 10px 0px -6px;
    padding: 3px 6px 3px 6px;
    border: 1px solid black;
}

th,
tr {
    border: 1px solid black;
}

.semestrePaire {
    background-color: rgb(211, 207, 202);
}

.semestre {
    background-color: rgb(190, 186, 181);
}

.titrePaire {
    background-color: rgb(233, 231, 231);
}

.titre {
    background-color: rgb(211, 207, 202);
}